
<div class="sidebar">
    <a class="active" routerLink="#">Admin-Faculty</a>
    <a routerLink="/requireform">Add Requirements</a>
    <a routerLink="#curriculum">Curriculum</a>
    <a routerLink="#lo">Logout</a>
  </div>
  
  <div class="content">
  </div>
<!-- <div class="sidebar">
    <header>Admin</header>
    <a  href="#"><span>Admin-faculty DashBoard</span></a>
    <a href="#"><span>Add Requirements</span></a>
    <a class="active" href="#"><span>Curriculum</span></a>
    <div>
       <h6 style="color:white;padding-top :300px;font-size: 20px;font-family: 'Open Sans',sans-serif;"><a class="logout" routerLink="">Log out</a></h6>>
    </div>
</div>  -->