<div class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <img src="../../../assets/images/logo (2).png" alt="Image" />
            <h3 style="color: whitesmoke; margin-left: 5px;">ICTAK</h3>
        </div>
        <div class="nav-item">
            <a href="#">Log Out</a>
        </div>
    </nav>
</div>
<div id="carouselExampleCaptions"class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/bg2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="caption1"><strong>...Welcome to ICT Curriculum Tracker...</strong></h1>
          <h3 class="caption2">Faculty Dashboard</h3>
          <div class="button1">
            <div class="row">
                <div class="col-sm-3"><a routerLink="#" class="bn14">Requirements</a></div>
                <div class="col-sm-3"><a routerLink="/faculty-home" class="bn14">Curriculum Search</a></div>
                <div class="col-sm-3"><a href="#" class="bn14">Downloads</a></div>
                <div class="col-sm-3"><a href="#" class="bn14">Submissions</a></div>
            </div>
        </div>
        </div>
      </div>
    
  </div>